html{
        scroll-behavior: smooth;
}

*{
        margin: 0;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
        text-decoration-line: none;
}
.a2{
        color: white;
        font-size: 18px;
        margin-left: 60px;
        background-color: #7a9dfc;
        width: 160px;
        margin-top: 28px;
        /* padding: 9px;
        border: 0px solid ;
        border-radius: 60%; */
        border: 0px solid ;
        border-radius: 12px;
        padding: 5.5px;
        text-align: center;
        
}
body{
        background-color: #4877fb;
}

.h1{
        color: white;
        margin-left: 60px;
        margin-top: 20px;
        
}
.a{
        display: flex;
        color: white;

}
.h12{
        color: white;
        font-size: 50px;
        margin-left: 60px;
}
.navbar{
        width: 100%;
        height: 90px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 170px;
        flex-wrap: wrap;
        flex-direction: row;
}
.navbar-items{
        display: flex;
        padding: 0% 5%;
        width: 30%;
        justify-content: space-between;
        align-items: center;
}
.p{
        margin-left: 60px;
        font-size: 20px;
        color: #9eb8ff;
}
.img1{
        height: 250px;
        
}
.container{
        height: 100vh;
        width: 100%;
}
.c2{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
}
/* .con2{
         div za kartice
} */
.a{
        display: flex;
        flex-direction: column;
        color: rgb(214, 213, 213);
}
.icon{
        margin-top: 20px;
        margin-left: 10px;
        width: 50px;
}
.con2{
        background-color: rgb(240, 239, 239);
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
}
.card{
        font-size: 17px;
        padding: 20px;
        border: 0px solid;
        width: 325px;
        background-color: white;
        display: inline-block;
        position: relative;
        margin-top: 30px;
        margin-left: 20px ; 
}
.card-h3{
        margin: 10px ;
}
.card-p{
        margin-left: 10px;
        margin-top: 5px;
}
.right-arrow{
        margin: 10px;
        width: 35px;
}
.a2:hover{
        color: #7a9dfc ;
        background-color: white;
        border: 3px black;
}
.dropbtn {
        background-color: #4877fb;
        color: rgb(214, 213, 213);
        padding: 16px;
        font-size: 16px;
        border: none;
}

.dropdown {
        position: relative;
        display: inline-block;
        position: sticky;
}

.dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
}

.dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
}

.dropdown-content a:hover {
        background-color: #ddd;
}

.dropdown:hover .dropdown-content {
        display: block;
}

.dropdown:hover .dropbtn {
        background-color: #4877fb;
}
.card:hover{
        width: 325px;
        height: 295px;
        border-top: 3px solid #648dff; 
        font-size: 17px;
}
.a:hover{
        color: white;
}
.dropbtn:hover{
        color: white;
}