.a{
        border: 1px solid rgb(155, 151, 151);
        border-bottom: solid 20px pink ;
        width: 350px;
        height: 350px;

}
.p1{
        color: #93cfa5;
        background-color: #d2f7dd;
        text-align: center;
}
.p2{
        color:#7698a8 ;
        background-color: #d2ebf7;
        text-align: justify;
}
.h1{
        color: #b06a6a;
        background-color: #ffcfcf;
        text-align: center;
}
a{
        color: #b06a6a;
        text-decoration: none;
        font-weight: 900;
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;

}
